.home{
    height: 100vh;
    
}
.headerHome .headerImg{
    width: 100%;
}
.containerBtnHeader{
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 10px 25px;
    background-color: #030303;
    margin-top: -10px;
}
.btnFinalizar{
    background-color:#5BD663 ;
    margin-right: 25px;
}
.btnpedidos{
    color: #fff;
    background-color: #5B67D6;
}

.btnFinalizar,.btnpedidos{
    border: none; 
    border-radius: 5px;
    padding: 10px 25px;
    transition: 0.3s;
    cursor: pointer;
}


.btnFinalizar:hover,.btnpedidos:hover{
    transition: 0.3s;
    background-color: rgb(43, 255, 0);
    scale: 1.02;
}
.mainHome{
    display: flex;
    justify-content: center;


      
}

.container-btnPedidos{
    position: relative;
}
.circle-container-btnPedidos{
    position: absolute;
    background-color:red;
    z-index: 99999;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    color: #ffff;
    top: -15px;
    right: -10px;
}
.totalPedidos{
    position: absolute;
    top: -50px;
    color: #fff;
    
    width: 300px;
    display: flex;
    justify-content: space-between;
}
@media (max-width:350px) {
    .containerBtnHeader{
       align-self: center;
    }
    .totalPedidos{
        width: 250px;
    }
    .btnFinalizar,.btnpedidos{
        border: none; 
        border-radius: 5px;
        padding: 10px 15px;
        transition: 0.3s;
        cursor: pointer;
    }

    
}
